#buttonRow {
    text-align: center;
    justify-content: center;
}

#buttonJumbotron {
    background-color: cadetblue !important;
}

#transcriptJumbotron,
#submitFieldJumbotron {
    background-color: cadetblue;
}